/*
* Template Name: UntreeStore
* Template Author: Untree.co
* Author URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/
@import "functions";
@import "variables";
@import "mixins";

$primary: #206430;
$secondary: #12947f;
$black: #000000;
$white: #ffffff;
$grey: #5b5656;
$heading_color: #dddde6;
$text_light_color: #333;
$bg_color: #37373f;
$font-family: 'Playfair Display', serif;
$font-family-sans-serif: 'Muli', sans-serif;

@import 'site-base';
@import 'site-navbar';
@import 'site-blocks';
@import 'site-elements';
@import 'site-footer';