{% extends 'admin_custom/base.html' %}
{% load static %}
{% load admin_tags %}
{% block body_content %}
  <div class="row">
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg offset-3 col-3 offset-md-3 col-md-9 offset-xl-2 col-xl-10 min-vh-100 px-5">
      {% if messages %}
      {% for message in messages %}
      <div class="row">
        <div class="align-middle text-center alert alert-{{message.tags}} fade show  mt-2 mb-2  offset-md-4 col-md-4" role="alert" style="max-width:290px;">
          <strong style="color:white;">{{message}}</strong> 
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="">
            <span aria-hidden="true">X</span>
          </button>
      
      </div>
      </div>
   
      {% endfor %}
      {% endif %}    
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">ĐƠN HÀNG</h6>
                </div>
              </div>
              <div class="row">
                <div class="offset-md-7 col-md-5 mt-4">
                  <div class="d-flex  align-items-center justify-content-lg-end">
                    <strong class="mr-3">Sắp xếp:</strong>
                    <form method="GET" action="{% url 'admin_custom:admin_order' %}" id="admin_order_filter">
                      <select class="" required name="sort_type">
                        <option value="all" {% if sort_type == 'all' %} selected{% endif %}>Tất cả</option>
                        {% for item in status %}
                        <option value="{{item.0}}" {% if item.0 == sort_type %} selected{% endif %}>{{item.1}}</option>
                        {% endfor %}
                      </select>
                    </form>
                  </div>
                </div>
               <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-3">ID</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Tổng tiền đơn hàng(VNĐ)</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Số điện thoại</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 text-center">Email</th>
                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Trạng thái</th>
                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"></th>
                        <th class="text-secondary opacity-7 "></th>
        
                      </tr>
                    </thead>
                    <tbody>
                      {% for  item in order %}
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center text-center">
                              <h6 class="mb-0 text-sm">{{item.id}}</h6>
                      
                            </div>
                          </div>
                        </td>
                        <td >
                          <p class="text-xs font-weight-bold mb-0">{{item.total_price}} đ</p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.phone_number}}</p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td class="text-center">
                          <p class="text-xs font-weight-bold mb-0">{{item.email}}</p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td class="align-middle text-center text-sm">
                          {% if item.status == 'new' %}
                          <span class="badge badge-sm bg-gradient-danger">{{item.status}}</span>
                          {% elif  item.status == 'ship'  %}
                          <span class="badge badge-sm bg-gradient-info">{{item.status}}</span>
                          {% elif  item.status == 'accepted'  %}
                          <span class="badge badge-sm bg-gradient-warning">{{item.status}}</span>
                          {% else %}
                          <span class="badge badge-sm bg-gradient-success">{{item.status}}</span>
                          {% endif %}
                        </td>
                        <td class="align-middle text-center">
                          <a href="{% url 'admin_custom:edit_order' item.id %}" class="text-warning font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            Edit
                          </a>
                          
                        </td>
                        <td class="align-middle">
                          <a href="" class="text-primary font-weight-bold text-xs btn-delete-order" data-id="{{item.id}}" data-toggle="modal" data-target="#exampleModal">
                            Delete
                          </a>
                        </td>
                      
                      </tr>
                      {% endfor %}
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        
       
      </div>

      
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tiệm giày chất</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border:none;">
            <span aria-hidden="true">X</span>
          </button>
        </div>
        <form action="{% url 'admin_custom:delete_product' %}" method="POST">
          {% csrf_token %}
        <div class="modal-body">
          <input type="text" value="" name="order_id_delete" id="order_id_delete" hidden>
          <p>Bạn chắn chắn xóa đơn hàng này?</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Chắc chắn</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
    </main>
  </div>

{% endblock body_content %}

{% block extra-js %}
<script>

  $('#admin_order_filter').find('select').change(function() {
    $('#admin_order_filter').submit()
  });
  $(".btn-delete-order").click(function(){
    let order_id = $(this).data('id');
    $('#order_id_delete').val(order_id)
  });
</script>
{% endblock %}

