{% extends 'admin_custom/base.html' %}
{% load static %}
{% load admin_tags %}
{% block body_content %}
  <div class="row">
    <div class=" position-relative max-height-vh-100 h-100 border-radius-lg offset-3 col-3 offset-md-3 col-md-9 offset-xl-2 col-xl-10 min-vh-100 px-5 offset-lg-2 col-lg-10">
      {% if messages %}
      {% for message in messages %}
      <div class="row">
        <div class="align-middle text-center alert alert-{{ message.tags}} fade show  mt-2 mb-2  offset-md-4 col-md-4" role="alert" style="max-width:290px;">
          <strong style="color:white;">{{message}}</strong> 
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="">
            <span aria-hidden="true">X</span>
          </button>
      </div>
   
      {% endfor %}
      {% endif %}    
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Tất cả giày</h6>
                </div>
              </div>
              <div class="row">
                <div class="offset-lg-8 col-lg-2 offset-2 col-4 mt-4">
                  <div class="d-flex  align-items-center justify-content-lg-end">
                    <strong class="mr-3">Sắp xếp:</strong>
                    <form method="GET" action="{% url 'admin_custom:admin_product' %}" id="admin_product_filter">
                      <select class="" required name="sort_type">
                        <option value="all" {% if sort_type == 'all' %} selected{% endif %}>Tất cả</option>
                        <option value="sale" {% if sort_type == 'sale' %} selected{% endif %}>Sale</option>

                        {% for item in  category %}
                        <option value="{{item.id}}" {% if item.id == sort_type %} selected{% endif %}>{{item.title}}</option>
                        {% endfor %}
                      </select>
                    </form>
                  </div>
              </div>
                <a type="button" class="btn btn-success mt-3 col-4  col-lg-2" href="{% url 'admin_custom:add_product' %}" style="max-width: 200px;">+Thêm sản phẩm </a>
               <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">TÊN</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-1">Giá gốc(VNĐ)</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-0">Giá hiện tại(VNĐ)</th>
                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Trạng thái</th>
                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"></th>
                        <th class="text-secondary opacity-7 "></th>
        
                      </tr>
                    </thead>
                    <tbody>
                      {% for  item in list_product  %}
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div>
                              <img src="{% get_img_product item.id %}" class="avatar avatar-xl me-3 border-radius-lg" alt="user1">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{item.name}}</h6>
                      
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.price}}</p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.accurate_price}}</p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td class="align-middle text-center text-sm">
                          {% if item.status == 'sale' %}
                          <span class="badge badge-sm bg-gradient-danger">{{item.status}}</span>
                          {% else %}
                          <span class="badge badge-sm bg-gradient-success">{{item.status}}</span>
                          {% endif %}
                        </td>
                        <td class="align-middle text-center">
                          <a href="{% url 'admin_custom:edit_product' item.id %}" class="text-info  font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            Edit
                          </a>
                          
                        </td>
                        <td class="align-middle">
                          <a href="" class="text-primary font-weight-bold text-xs btn-delete-product" data-id="{{item.id}}" data-toggle="modal" data-target="#exampleModal">
                            Delete
                          </a>
                        </td>
                      
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        
       
    </div>
 
      
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tiệm giày chất</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border:none;">
            <span aria-hidden="true">X</span>
          </button>
        </div>
        <form action="{% url 'admin_custom:delete_product' %}" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <input type="text" value="" name="product_id_delete" id="product_id_delete" hidden>
            <p>Bạn chắn chắn xóa sản phẩm này?</p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Chắc chắn</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            
          </div>
        </form>
      </div>
    </div>
  </div>

   </div>   
{% endblock body_content %}

{% block extra-js %}
<script>

  $('#admin_product_filter').find('select').change(function() {
    $('#admin_product_filter').submit()
  });
  $(".btn-delete-product").click(function(){
    let product_id = $(this).data('id');
    $('#product_id_delete').val(product_id)
  });
</script>
{% endblock %}

