<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
{% block title %}
{% endblock title %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

    <link href="{% static 'admin_custom/css/nucleo-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'admin_custom/css/nucleo-svg.css' %}" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

    <link id="pagestyle" href="{% static 'admin_custom//css/material-dashboard.css' %} " rel="stylesheet" />

    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
    {% block extra_css %}
    {% endblock extra_css %}
</head>
<body>
    {% block navbar %}
    {% include 'admin_custom/navbar.html' %}
    {% endblock navbar %}
    
    {% block body_content %}
    {% endblock body_content %}
    {% block footer %}
    {% include 'admin_custom/footer.html' %}
    {% endblock footer %}
    <script src="{% static 'admin_custom' %} js/core/popper.min.js"></script>
    <script src="{% static 'admin_custom/js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'admin_custom/js/plugins/smooth-scrollbar.min.js' %}"></script>
    <script src="{% static 'store/js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'admin_custom/js/core/bootstrap.min.js' %}"></script> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
      var win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
      }
    </script>
    <script async defer  src="https://buttons.github.io/buttons.js"></script>
    <script  src="{% static 'admin_custom/js/material-dashboard.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js" type="text/javascript"></script>
    {% block extra-js %}
    {% endblock extra-js %}

</body>
</html>