{% extends 'admin_custom/base.html' %}
{% load static %}
{% load admin_tags %}
{% block extra_css %}
<link href="{% static 'admin_custom/css/order_style.css' %}" rel="stylesheet" />
{% endblock extra_css %}

{% block body_content %}
<div class="row shop-tracking-status mb-5">
    <div class="offset-md-3 col-md-8">
        <div class="well">
            <div class="order-status">
                <div class="order-status-timeline">
                    <div class="order-status-timeline-completion c0"></div>
                </div>
                <div class="image-order-status image-order-status-active  img-circle" data-status='0' data-check="new">
                    <span class="status">Đơn mới</span>
                    <div class="icon"></div>
                </div>
                <div class="image-order-status image-order-status-new  img-circle" data-status='33%' data-check="accepted">
                    <span class="status">Đã nhận đơn</span>
                    <div class="icon"></div>
                </div>

                <div class="image-order-status image-order-status-intransit  img-circle" data-status='66%' data-check="ship">
                    <span class="status">Shipped</span>
                    <div class="icon"></div>
                </div>
              
                <div class="image-order-status image-order-status-completed  img-circle" data-status='100%' data-check="complated">
                    <span class="status">Hoàn thành</span>
                    <div class="icon"></div>
                </div>

            </div>
        </div>
    </div>
    <form action="{% url 'admin_custom:edit_order' order_id %}" method="post"  enctype='multipart/form-data' id="form_add_product">
        {% csrf_token %}
        <div class="input-group input-group-outline mb-3 offset-md-2 col-md-10 row">
            <div class="row">
                {% for item in form  %}
                <div class="col-md-5">
                    {{item.label}}
                    {{item}}
                    {{item.errors}}
                  </div>
                {% endfor %}
              </div>
        </div>
      
        <table class="offset-md-1 col-md-6 text-center">
              <tr>
                <th>Ảnh</th>
                  <th>Tên</th>
                  <th>Size</th>
                  <th>Số lượng</th>
              </tr>
              {% for item in order_detail %}
              <tr >
                <td><img src="{% get_img_product item.product.id %}" class="avatar product-xxl me-3 border-radius-lg" ></td>
                <td >{{ item.product }}</td>
                <td class="text-center">{{ item.size}}</td>
                <td>{{ item.quantity}}</td>
                </tr>
              {% endfor %}
          </table>
          <div class="offset-md-2 col-md-4 mt-5 mb-5">
            <a  class="btn btn-warning" href="{% url 'admin_custom:admin_order' %}">Quay lại</a>
            <button type="submit" class="btn btn-success">Sửa đơn hàng </button>
          </div> 
      
    </form>
      
</div>
 

{% endblock body_content %}

{% block extra-js %}
<script src="{% static 'admin_custom/js/edit_order.js' %}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

{% endblock extra-js %}



