<div class="modal fade" id="edit_banner_{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tiệm giày chất</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border:none;">
            <span aria-hidden="true">X</span>
          </button>
        </div>
        <form action="{% url 'admin_custom:edit_banner' %}" method="POST" enctype='multipart/form-data'> 
          {% csrf_token %}
        <div class="modal-body input-group input-group-outline row">
          <input type="text" value="{{id}}" id="edit_banner"  name="edit_banner" hidden>
          {% for form in form_banner %}
          <div class="col-12 mb-2">
            {{form.label}}
            {{form}}
        </div>
          {% endfor %}
        
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Sửa</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
          
        </div>
      </form>
      </div>
    </div>
  </div>