{% extends 'admin_custom/base.html' %}
{% load static %}
{% block body_content %}

<main  class="main-content position-relative max-height-vh-100 h-100 border-radius-lg row">
    <form action="{% url 'admin_custom:edit_product' product_id %}" method="post"  enctype='multipart/form-data' id="form_add_product">
    <div class="input-group input-group-outline mb-3 offset-3 col-9 offset-md-3 col-md-9  offset-xl-2 col-xl-10 ps-5  row">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-5">
          {{form.name.label}}
          {{form.name}}
        </div>
        <div class="col-md-3">
          {{form.category.label}}
          {{form.category}}
        </div>
        <div class="col-md-2">
          {{form.sale_percent.label}}
          {{form.sale_percent}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          {{form.price.label}}
          {{form.price}}
        </div>
        <div class="col-md-5">
          {{form.accurate_price.label}}
          {{form.accurate_price}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          {{form.fabric.label}}
          {{form.fabric}}
        </div>
    
        <div class="col-md-3 d-inline-block">
          {{form.status.label}}{{form.status }}
        </div>
        <div class="col-md-2 mt-4">
          {{form.activate.label}}
          {{form.activate}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          {{form.describe.label}}
          {{form.describe}}
        </div>
      </div>
      {{form.errors}}
    
  <div class="row offset-md-2 col-md-10" style="padding-left: 20px;"> 
      <table class="col-md-6">
          {{ form_set.management_form}}
          {% for p in form_set %}
              {% if forloop.first %}
            <tr>
                <th>{{ p.size.label_tag }}</th>
                <th>{{ p.quantity.label_tag }}</th>
                <th>{{ p.sku.label_tag }}</th>
                <th></th>
            </tr>
            {% endif %}
            <tr class="form_set_variant">
              <td hidden>
              {% for hidden in p.hidden_fields %}
              {{ hidden }}
              {% endfor %}
              </td>
              <td>{{ p.size }}</td>
              <td>{{ p.quantity }}</td>
              <td>{{ p.sku}}</td>
              <td hidden>{{p.DELETE}}</td>
              <td class="btn-remove-variant" data-variant={{forloop.counter0}}><a  class="btn btn-danger" >X</a></td>
              </tr>
        {% endfor %}
        {{form_set.errors}}
        </table>
      
      <div class="row" style="padding-left: 20px;">
        <table class="col-md-6">
          {{ form_set_img.management_form}}
          {% for p in form_set_img %}
          
              {% if forloop.first %}
              <tr>
                  <th>{{ p.img.label_tag }}</th>
              </tr>
              {% endif %}
              <tr class="form_set_img">
              <td hidden>
              {% for hidden in p.hidden_fields %}
                  {{ hidden }}
              {% endfor %}
                  </td>
              <td>{{ p.img }}</td>
              {% if p.instance.img %}
              <td> <img src="/media/{{ p.instance.img}}" class="avatar-xl"></td>
              {% endif %}
              <td>{{p.DELETE}}</td>
              </tr>
          {% endfor %}
          {{form_set_img.errors}}
        </table>
      </div>
      <div class="col-md-4 mt-5 mb-5">
        <a  class="btn btn-warning" id="add_variant">Thêm size</a>
        <a  class="btn btn-warning" id="add_img">Thêm ảnh</a>
        <button type="submit" class="btn btn-success">+Sửa sản phẩm</button>
      </div>
    </div>
    </form>
  </div>
  <table>

    <tr class=""  id="form_add_variant_product" hidden>
      <td>
        <select name="" class="form-control col-md-4 mb-2" id="id_product_variants_set-0-size">
          <option value="" selected="">---------</option>
          {% for item in size %}
          <option value="{{item.id}}">{{item.size}}</option>
          {% endfor %}
        </select></td>
      <td><input type="number" name="product_variants_set-0-quantity" value="" class="form-control col-md-4 mb-2" id="id_product_variants_set-0-quantity" onfocus="focused(this)" onfocusout="defocused(this)"></td>
      <td><input type="text" name="product_variants_set-0-sku" value="" class="form-control col-md-4 mb-2" id="id_product_variants_set-0-sku" onfocus="focused(this)" onfocusout="defocused(this)"></td>
      <td class="btn-remove-variant"><a  class="btn btn-danger">X</a></td>
    </tr>  
    <tr class="" id="form_img" hidden>
      <td class=""><input type="file" name="img_product_set-0-img" accept="image/*" id="id_img_product_set-0-img"></td>
      <td class="btn-remove-img"><a class="btn btn-danger">X</a></td>
      </tr>    
  </table>
</main>

{% endblock body_content %}

{% block extra-js %}
<script src="{% static 'admin_custom/js/edit_product.js' %}"></script>
{% endblock extra-js %}



