{% load static %}

<div class="row">
  <div class="col-3  col-md-3 col-lg-3 col-xl-2">
    <div class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3  bg-gradient-dark" id="sidenav-main">
      <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard " target="_blank">
          <img src="{% static 'admin_custom/img/logos/logo1.jpg' %}" class="navbar-brand-img h-100" alt="main_logo">
          <span class="ms-1 font-weight-bold text-white">Tiệm giày chất</span>
        </a>
      </div>
      <hr class="horizontal light mt-0 mb-2">
      <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white {% if product_activate %} bg-gradient-primary{% endif %}" href="{% url 'admin_custom:admin_product' %}">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">table_view</i>
              </div>
              <span class="nav-link-text ms-1">Sản phẩm </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white{% if order_activate %} bg-gradient-primary {% endif %} " href="{% url 'admin_custom:admin_order' %}">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">receipt_long</i>
              </div>
              <span class="nav-link-text ms-1 {% if product %}{{product}}{% endif %}">Đơn hàng </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white {% if other_activate %}bg-gradient-primary{% endif %}" href="{% url 'admin_custom:admin_other' %}">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">format_textdirection_r_to_l</i>
              </div>
              <span class="nav-link-text ms-1">Bảng tổng hợp</span>
            </a>
          </li>
    
          <li class="nav-item mt-3">
            <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Quản lý tài khoản</h6>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white nav-link-activate" href="{% url 'admin_custom:sign_up' %}">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">assignment</i>
              </div>
              <span class="nav-link-text ms-1">Đăng ký</span>
            </a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'admin_custom:logout' %}?next=/admin_custom/login">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">logout</i>
              </div>   
              <span class="nav-link-text ms-1">Đăng xuất</span>
            </a>
          </li>
          {% endif %}
       
        </ul>
      </div>
    </div>
  </div>
  <div class="col-9  col-md-9 col-lg-9 col-xl-10">
    <div class="main-content position-relative max-height-vh-100 h-100">
      <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
            <h6 class="font-weight-bolder mb-0">Giày là tất cả!</h6>
          </nav>
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label class="form-label">Tìm kiếm</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <ul class="navbar-nav  justify-content-end">
              <li class="nav-item d-flex align-items-center">
                {% if request.user.is_authenticated %}
                <a href="{% url 'admin_custom:logout' %}?next=/login" class="nav-link text-body font-weight-bold px-0">
                  <i class="fa fa-user me-sm-1"></i>
                  <span class="d-sm-inline d-none">Đăng xuất</span>
                </a>
                {% endif %}   
              </li>
              <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                  </div>
                </a>
              </li>
              <li class="nav-item px-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0">
                  <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="container-fluid px-2 px-md-4">
        <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('{% static 'admin_custom/img/logos/banner_admin.webp' %}');">
          <span class="mask  bg-gradient-primary  opacity-6"></span>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-n6">
          <div class="row gx-4 mb-2">
            <div class="col-auto">
              <div class="avatar avatar-xl position-relative">
                <img src="{% static 'admin_custom/img/logos/logo1.jpg' %}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
              </div>
            </div>
            <div class="col-auto my-auto">
              <div class="h-100">
                <h5 class="mb-1">
                  Tiệm giày chất
                </h5>
              </div>
            </div>
           
          </div>
        </div>
      </div>
   
    </div>
  </div>
</div>

  