{% extends 'admin_custom/base.html' %}
{% load static %}
{% load admin_tags %}
{% block body_content %}
  <div class="row">
    <div class="main-content position-relative max-height-vh-100 h-100 border-radius-lg offset-3 col-9 offset-md-3 col-md-9  offset-lg-2 col-lg-10 offset-xl-2 col-xl-10 ps-5   min-vh-100">
      {% if messages %}
      {% for message in messages %}
      <div class="row">
        <div class="align-middle text-center alert alert-{{ message.tags}} fade show  mt-2 mb-2  offset-md-4 col-md-4" role="alert" style="max-width:290px;">
          <strong style="color:white;">{{message}}</strong> 
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="">
            <span aria-hidden="true">X</span>
          </button>
      
      </div>
      </div>
   
      {% endfor %}
      {% endif %}
     
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12 mb-5">
            <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Về chúng tôi và liên lạc</h6>
                </div>
              </div>
              <div class="row">
                <div class="offset-md-7 col-md-5 mt-4">
                  
                </div>
               <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-3">Title</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Đôi lời</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Lời nhắn nhủ</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 text-center">Facebook </th>
                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"></th>
                        <th class="text-secondary opacity-7 "></th>
        
                      </tr>
                    </thead>
                    <tbody>
                      {% for  item in about %}
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center text-center">
                              <h6 class="mb-0 text-sm">{{item.title}}</h6>
                      
                            </div>
                          </div>
                        </td>
                        <td >
                          <p class="text-xs font-weight-bold mb-0">{{item.about_describe}} </p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.last_mes}}</p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td class="text-center">
                          <p class="text-xs font-weight-bold mb-0">{{item.facebook}}</p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td class="align-middle text-center">
                          <a href="" class="text-info font-weight-bold text-xs btn-edit-about" data-toggle="modal" data-original-title="Edit user" data-target="#about_modal" data-id="{{item.id}}">
                            Edit
                          </a>
                        </td>
                        <td class="align-middle">
                          <a href="" class="text-primary font-weight-bold text-xs btn-delete-other" data-id="{{item.id}}" data-check="about" data-toggle="modal" data-target="#exampleModal">
                            Delete
                          </a>
                        </td>
                      
                      </tr>
                      {% endfor %}
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          {% comment %} ABOUT CONTACT {% endcomment %}
          <div class="col-12 mt-5 mb-5">
            <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Phân loại sản phẩm</h6>
                </div>
              </div>
              <div class="row">
                <div class="offset-md-7 col-md-5 mt-4">
                  
                </div>
               <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table  mb-0" style="margin-left: 70px;">
                    <thead>
                      <tr >
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-3 col-md-2">ID</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 px-3 col-md-2">Phân loại sản phẩm</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2  col-md-2">Thêm</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2  col-md-2">Sửa</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2  col-md-2">Xóa</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for  item in category %}
                      <tr>
                        <td class="text-center">
                          <div class="d-flex px-2 py-1  ">
                            <div class="d-flex flex-column  ">
                              <h6 class="mb-0 text-sm">{{item.id}}</h6>
                      
                            </div>
                          </div>
                        </td>
                        <td >
                          <p class="text-xs font-weight-bold mb-0 ps-4">{{item.title}}</p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td class="align-middle">
                          <a href="" class="text-success font-weight-bold text-xs btn-add-category"   data-toggle="modal" data-target="#category_modal">
                            Add
                          </a>
                        </td>
                        <td class="align-middle">
                          <a href="" class="text-info font-weight-bold text-xs btn-edit-category" data-id="{{item.id}}" data-title="{{item.title}}" data-slug="{{item.slug}}" data-toggle="modal" data-target="#category_modal">
                            Edit
                          </a>
                        </td>
                        <td class="align-middle">
                          <a href="" class="text-primary font-weight-bold text-xs btn-delete-other" data-id="{{item.id}}" data-check="category"  data-toggle="modal" data-target="#exampleModal">
                            Delete
                          </a>
                        </td>
                      
                      </tr>
                      {% endfor %}
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% comment %} Category {% endcomment %}

          <div class="col-12 mt-5 mb-5">
            <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Kích cở sản phẩm</h6>
                </div>
              </div>
              <div class="row">
                <div class="offset-md-7 col-md-5 mt-4">
                  
                </div>
               <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table  mb-0" style="margin-left: 70px;">
                    <thead>
                      <tr >
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-3 col-md-2">ID</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 col-md-2">SIZE</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2  col-md-2">Thêm</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2  col-md-2">Sửa</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2  col-md-2">Xóa</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for  item in size %}
                      <tr>
                        <td class="text-center">
                          <div class="d-flex px-2 py-1  ">
                            <div class="d-flex flex-column  ">
                              <h6 class="mb-0 text-sm">{{item.id}}</h6>
                      
                            </div>
                          </div>
                        </td>
                        <td >
                          <p class="text-xs font-weight-bold mb-0">{{item.size}}</p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td class="align-middle">
                          <a href="" class="text-success font-weight-bold text-xs btn-add-size"   data-toggle="modal" data-target="#size_modal">
                            Add
                          </a>
                        </td>
                        <td class="align-middle">
                          <a href="" class="text-info font-weight-bold text-xs btn-edit-size" data-id="{{item.id}}" data-size="{{item.size}}" data-toggle="modal" data-target="#size_modal">
                            Edit
                          </a>
                        </td>
                        <td class="align-middle">
                          <a href="" class="text-primary font-weight-bold text-xs btn-delete-other" data-id="{{item.id}}" data-check="size"  data-toggle="modal" data-target="#exampleModal">
                            Delete
                          </a>
                        </td>
                      
                      </tr>
                      {% endfor %}
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% comment %} SIZE {% endcomment %}
          {% comment %} BEGIN BANNER {% endcomment %}
          <div class="col-12 mt-5">
            <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Ảnh bìa</h6>
                </div>
              </div>
              <div class="row">
                <div class="offset-md-7 col-md-5 mt-4">
                  
                </div>
               <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-3">Title</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Thứ tự</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-5 ">Ảnh</th>
                        <th class=" text-uppercase text-secondary text-xs font-weight-bolder opacity-7 px-1">Trạng thái</th>
                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"></th>
                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"></th>
                        <th class="text-secondary opacity-7 "></th>
        
                      </tr>
                    </thead>
                    <tbody>
                      {% for  item in banner %}
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center text-center">
                              <h6 class="mb-0 text-sm">{{item.title}}</h6>
                      
                            </div>
                          </div>
                        </td>
                        <td >
                          <p class="text-xs font-weight-bold mb-0">{{item.order}}</p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td>
                          <div>
                            <img src="{{item.image.url}}" class="avatar banner-xl me-3 border-radius-lg" alt="user1">
                          </div>
                        </td>
                        <td class="align-middle  text-sm">
                          {% if item.is_activate  == 'true' %}
                          <span class="badge badge-sm bg-gradient-success">{{item.is_activate }}</span>
                          {% else%}
                          <span class="badge badge-sm bg-gradient-primary">{{item.is_activate }}</span>
                          {% endif %}
                        </td>
                        <td class="align-middle">
                          <a href="" class="text-success font-weight-bold text-xs btn-delete-order" data-id="{{item.id}}" data-toggle="modal" data-target="#add_banner">
                            Add
                          </a>
                        </td>
                        <td class="align-middle text-center">
                          <a href="" class="text-info font-weight-bold text-xs" data-target="#edit_banner_{{item.id}}" data-toggle="modal">
                            Edit
                          </a>
                          
                        </td>
                        <td class="align-middle">
                          <a href="" class="text-primary font-weight-bold text-xs btn-delete-other" data-id="{{item.id}}" data-check="banner" data-toggle="modal" data-target="#exampleModal">
                            Delete
                          </a>
                        </td>
                      
                      </tr>
                      {%  modal_banner item.id %}
                      {% endfor %}
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% comment %} END BANNER {% endcomment %}
        </div>        
      </div>
      
  <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Tiệm giày chất</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border:none;">
              <span aria-hidden="true">X</span>
            </button>
          </div>
          <form action="{% url 'admin_custom:delete_other' %}" method="POST">
            {% csrf_token %}
          <div class="modal-body">
            <input type="text" value="" name="other_id_delete" id="other_id_delete" hidden>
            <input type="text" value="" name="check_delete" id="check_delete" hidden>
            <p>Bạn chắc chắn muốn xóa?</p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Chắc chắn</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            
          </div>
        </form>
        </div>
      </div>
    </div>
    <!-- END Modal -->
      <!-- Modal Size-->
      <div class="modal fade" id="size_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Tiệm giày chất</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border:none;">
                <span aria-hidden="true">X</span>
              </button>
            </div>
            <form action="{% url 'admin_custom:add_size' %}" method="POST">
              {% csrf_token %}
            <div class="modal-body">
              {% for form in form_size %}
              <div class="input-group input-group-outline mb-3">
                {{form.label}}
                {{form}}
              </div>
              {% endfor %}
              <input name="check_size" type="text" value="" id="check_size" hidden>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Tạo hoặc sửa</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
              
            </div>
          </form>
          </div>
        </div>
      </div>
      <!-- END Modal -->
      <!-- Modal Category-->
      <div class="modal fade" id="category_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Tiệm giày chất</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border:none;">
                <span aria-hidden="true">X</span>
              </button>
            </div>
            <form action="{% url 'admin_custom:add_category' %}" method="POST">
              {% csrf_token %}
            <div class="modal-body">
              {% for form in form_category %}
              <div class="input-group input-group-outline mb-3">
                {{form.label}}
                {{form}}
              </div>
              {% endfor %}
              <input name="check_category" type="text" value="" id="check_category" hidden>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Tạo hoặc sửa</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
              
            </div>
          </form>
          </div>
        </div>
      </div>
      <!-- END Modal Category-->
            <!-- Modal About Contact -->
            <div class="modal fade" id="about_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tiệm giày chất</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border:none;">
                      <span aria-hidden="true">X</span>
                    </button>
                  </div>
                  <form action="{% url 'admin_custom:edit_about' %}" method="POST">
                    {% csrf_token %}
                  <div class="modal-body input-group input-group-outline">
                    <input type="text" value="" id="edit_about"  name="edit_about" hidden>
                    {% for form in form_about %}
            
                      {{form.label}}
                      {{form}}
                    {% endfor %}
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Sửa</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
                    
                  </div>
                </form>
                </div>
              </div>
            </div>
            <!-- END Modal -->
     <!-- Modal Add BANNER -->
     <div class="modal fade" id="add_banner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Tiệm giày chất</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border:none;">
              <span aria-hidden="true">X</span>
            </button>
          </div>
          <form action="{% url 'admin_custom:add_banner' %}" method="POST" enctype='multipart/form-data'> 
            {% csrf_token %}
          <div class="modal-body input-group input-group-outline row">
            <input type="text" value="" id="edit_about"  name="edit_about" hidden>
            {% for form in form_banner %}
            <div class="col-12 mb-2">
              {{form.label}}
              {{form}}
            </div>
            {% endfor %}
          
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">+Thêm</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            
          </div>
        </form>
        </div>
      </div>
    </div>
    <!-- END Modal -->
  </div>
</div>

{% endblock body_content %}

{% block extra-js %}
<script>
  $(".btn-delete-other").click(function(){
    let other_id = $(this).data('id');
    let check = $(this).data('check');
    $('#other_id_delete').val(other_id)
    $('#check_delete').val(check)
  });
  $(".btn-edit-about").click(function(){
    let id = $(this).data('id');
    $('#edit_about').val(id)
  });
  $(".btn-edit-size").click(function(){
    let id = $(this).data('id');
    let size = $(this).data('size');
    $('#id_size').val(size);
    $('#check_size').val(id);
  });
  $(".btn-add-size").click(function(){
    $('#check_size').removeAttr('value');
    $('#id_size').val('');
  });
  $(".btn-edit-category").click(function(){
    let id = $(this).data('id');
    let title = $(this).data('title');
    let slug = $(this).data('slug');
    $('.title-category').val(title);
    $('#id_slug').val(slug);
    $('#check_category').val(id);
  });
  $(".btn-add-category").click(function(){
    console.log('okkkkkkkkkk')
    $('#check_category').val('');
    $('#check_category').removeAttr('value');
    $('#id_category').val('');
  });
</script>
{% endblock %}

