{% load static %}
<html>
  <head>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

    <link href="{% static 'admin_custom/css/nucleo-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'admin_custom/css/nucleo-svg.css' %}" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

    <link id="pagestyle" href="{% static 'admin_custom//css/material-dashboard.css' %} " rel="stylesheet" />

    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
  </head>
  <body>
    <main class="main-content  mt-0">
      <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container my-auto">
          <div class="row">
            <div class="col-lg-4 col-md-8 col-12 mx-auto">
              <div class="card z-index-0 fadeIn3 fadeInBottom">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                    <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Đăng nhập</h4>
                    <div class="row mt-3">
                      <div class="col-2 text-center ms-auto">
                        <a class="btn btn-link px-3" href="javascript:;">
                          <i class="fa fa-facebook text-white text-lg"></i>
                        </a>
                      </div>
                      <div class="col-2 text-center px-1">
                        <a class="btn btn-link px-3" href="javascript:;">
                          <i class="fa fa-github text-white text-lg"></i>
                        </a>
                      </div>
                      <div class="col-2 text-center me-auto">
                        <a class="btn btn-link px-3" href="javascript:;">
                          <i class="fa fa-google text-white text-lg"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                {% if msg %}
                  <div class="alert alert-danger alert-dismissible fade show row mt-2 mb-2" role="alert">
                    <strong>{{msg}}</strong> 
                  </div>
                {% endif %}      
                <div class="card-body">
                  <form role="form" class="text-start" method="POST" action="{% url 'admin_custom:login' %}" id="form_login">
                    {% csrf_token %}
                    <div class="input-group input-group-outline my-3 row">
                      <input type="text" class="form-control" placeholder="Tên đăng nhập" name="username">
                    </div>
                    <div class="input-group input-group-outline mb-3 row">
                      <input type="password" class="form-control" placeholder="Mật khẩu" name="password">
                    </div>
                    <div class="form-check form-switch d-flex align-items-center mb-3">
                      <input class="form-check-input" type="checkbox" id="rememberMe" checked>
                      <label class="form-check-label mb-0 ms-3" for="rememberMe">Remember me</label>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Đăng nhập</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer position-absolute bottom-2 py-2 w-100">
         
            <div class="row align-items-center justify-content-end">
              <div class=" col-md-2 offset-md-10 my-auto justify-content-end">
                <div class="copyright text-center text-sm text-white text-lg-start">
                  © <script>
                    document.write(new Date().getFullYear())
                  </script>,
                  made with <i class="fa fa-heart" aria-hidden="true"></i> by
                  <a href="" class="font-weight-bold text-white" target="_blank">Lê Đức Lương</a>
                </div>
              </div>
            </div>
        </footer>
      </div>
    </main>
    
    <script src="{% static 'admin_custom' %} js/core/popper.min.js"></script>
    <script src="{% static 'admin_custom/js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'admin_custom/js/plugins/smooth-scrollbar.min.js' %}"></script>
    <script src="{% static 'store/js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'admin_custom/js/core/bootstrap.min.js' %}"></script> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
      var win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
      }
    </script>
    <script async defer  src="https://buttons.github.io/buttons.js"></script>
    <script  src="{% static 'admin_custom/js/material-dashboard.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script>
      window.addEventListener("load", function() {
      $(function (){
        
          var validator = $('#form_login').validate({
              onfocusout: function(element) {
                  this.element(element);
                  $(element).valid();
              },
              onkeyup: function(element) {
                  this.element(element);
                  $(element).valid();
              },
              onsubmit: function(element) {
                this.element(element);
                $(this).valid();
              },
              rules: {
                  username :{
                    required : true      
                  },
                  password: {
                      required :true,
                  },
      
                },
              messages: {
                  password: {
                      required: "Mật khẩu không được để trống",
    
                    
                  },
                  username: {
                      required: "Tên đăng nhập không được để trống",
                  },
                
      
      
              },
              highlight: function(element) {
                  $(element).closest('.form-control').addClass('is-error');
              },
              unhighlight: function(element) {
                      $(element).closest('.form-control').removeClass('is-error');
              },
        
          });
        });
      });
    </script>
  </body>
</html>



