{% extends 'admin_custom/base.html' %}
{% load static %}
{% block body_content %}
<form action="{% url 'admin_custom:sign_up' %}" method="POST" id="form_register">
  {% csrf_token %}
<div class="  mt-5 min-vh-70">

  {% if messages %}
  {% for message in messages %}
  <div class="row">
    <div class="align-middle text-center alert alert-{{ message.tags}}s fade show  mt-2 mb-2  offset-md-4 col-md-4" role="alert" style="max-width:290px;">
      <strong style="color:white;">{{message}}</strong> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="">
        <span aria-hidden="true">X</span>
      </button>
  
  </div>
  </div>

  {% endfor %}
  {% endif %}    
  <section>
        <div class="row">
          <div class="offset-md-3 col-md-5 offset-xl-2 col-xl-5 offset-3 col-5">  
            <div class="card card-plain">
              <div class="card-header">
                <h4 class="font-weight-bolder">Đăng Ký</h4>
                <p class="mb-0">Nhập tài khoản và mật khẩu để đăng ký</p>
              </div>
              <div class="card-body">
                <form role="form">
                  <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Tên tài khoản</label>
                    <input type="text" class="form-control" name="name">
                  </div>
                  <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="email">
                  </div>
                  <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Mật khẩu</label>
                    <input type="password" class="form-control" name="password">
                  </div>
                  <div class="form-check form-check-info text-start ps-0">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                      Tôi đồng ý <a href="javascript:;" class="text-dark font-weight-bolder">Điều khoản và điều kiện</a>
                    </label>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Đăng ký</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-5 col-4">
            <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('{% static 'admin_custom/img/illustrations/signup.jpg' %}'); background-size: cover;">
            </div>
          </div>
         
    </div>
  </section>
</div>
</form>
{% endblock body_content %}
{% block extra-js %}
<script>
  window.addEventListener("load", function() {
  $(function (){
    
      var validator = $('#form_register').validate({
          onfocusout: function(element) {
              this.element(element);
              $(element).valid();
          },
          onkeyup: function(element) {
              this.element(element);
              $(element).valid();
          },
          onsubmit: function(element) {
            this.element(element);
            $(this).valid();
          },
          rules: {
              name :{
                required : true      
              },
              password: {
                  required :true,
              },
              email:{
                required : true,
                email : true
              },
  
            },
          messages: {
              password: {
                  required: "Mật khẩu không được để trống",

                
              },
              name: {
                  required: "Tên đăng nhập không được để trống",

              },
              email: {
                required: "Email không được để trống",
                email : "Mời bạn nhập đúng định dạng email"
            },
            
  
  
          },
          highlight: function(element) {
              $(element).closest('.form-control').addClass('is-error');
          },
          unhighlight: function(element) {
                  $(element).closest('.form-control').removeClass('is-error');
          },
    
      });
    });
  });
</script>

{% endblock extra-js %}


  