
.product__thumb__pic {
    min-height: 150px;
    min-width : 125px;
       
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border : none;
}
.product__details__pic .nav-tabs .nav-item .nav-link .product__thumb__pic i {
    height: 56px;
    width: 56px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    line-height: 48px;
    display: inline-block;
    text-align: center;
}
.product__details__pic .nav-tabs .nav-item .nav-link .product__thumb__pic {
    width: 100%;
}
img{
    width : 100%;
}
.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.product__details__pic__item {
    position: relative;
}

.product__details__pic__item img {
    max-height: 600px;
    border: 4px solid #ffffff;
}
.product__details__cart__option {
    margin-bottom: 25px;
}

.product__details__cart__option .quantity {
    display: inline-block;
    margin-right: 20px;
}

.product__details__cart__option .quantity .pro-qty {
    width: 100px;
    height: 40px;
    border: 1px solid #e5e5e5;
    position: relative;
}

.product__details__cart__option .quantity .pro-qty input {
    color: #0d0d0d;
    font-size: 15px;
    font-weight: 700;
    width: 70px;
    height: 100%;
    text-align: center;
    border: none;
}

.product__details__cart__option .quantity .pro-qty .qtybtn {
    font-size: 18px;
    color: #0d0d0d;
    position: absolute;
    right: 15px;
    top: 3px;
    height: 10px;
    width: 10px;
    cursor: pointer;
    font-weight: 600;
}

.product__details__cart__option .quantity .pro-qty .qtybtn.inc {
    top: 16px;
}
.btn-custom{
    background-color: #206430;
}
.product__thumb__pic__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border : none;
}

.size_box{
    width: 38px;
    height: 38px;
    border: 1px solid #cfcfcf;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    cursor: pointer;
}
.size_box_activate{
    width: 38px;
    height: 38px;
    background-color: #0d0d0d;
    color: #fff;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    cursor: pointer;
}