/*
* Template Name: UntreeStore
* Template Author: Untree.co
* Author URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/
body {
  font-family: "Muli", sans-serif;
  line-height: 1.6;
  background-color: #E8E8E8;
  overflow-x: hidden;
  font-size: 16px;
  color: #333; }
  body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  body.offcanvas-menu:before {
    opacity: 1;
    visibility: visible; }

.text-black {
  color: #000000 !important; }

.text-secondary {
  color: #12947f !important; }

.bg-primary-light {
  background-color: rgba(184, 69, 146, 0.05); }

.bg-secondary-light {
  background-color: rgba(18, 148, 127, 0.05); }

a {
  color:#FFA726 !important;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    color: #FFA726;
    text-decoration: none; }

::-moz-selection {
  background: #000000;
  color: #ffffff; }

::selection {
  background: #000000;
  color: #ffffff; }

.text-primary {
  color: #ffa126 !important; }

a.text-primary {
  color: #FFA726 !important; }
  a.text-primary:hover {
    color: #FFA726 !important; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-family: "Playfair Display", serif;
  color: #FFA726; }

.btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .05rem;
  border-radius: 0; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-primary {
    background: #FFA726;
    border-color: #FFA726; }
    .btn.btn-primary:hover {
      border-color: #be539b;
      background: #be539b; }
  .btn.btn-sm {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px; }
  .btn.btn-black {
    background: #000000;
    color: #ffffff; }
  .btn.btn-outline-black {
    background: transparent;
    border-color: #FFA726;
    color: #FFA726; }
    .btn.btn-outline-black:hover {
      color: #ffffff;
      background: #FFA726; }
  .btn.btn-outline-primary {
    border-color: #FFA726;
    color: #FFA726; }
    .btn.btn-outline-primary:hover {
      background: #FFA726;
      color: #ffffff; }
  .btn.btn-outline-white {
    border-color: #ffffff;
    color: #ffffff; }
    .btn.btn-outline-white:hover {
      background: #ffffff;
      color: #000000; }

.form-control, .custom-select {
  border: none;
  font-size: 16px;
  height: 48px;
  background: transparent;
  border: 1px solid  #FFA726;
  border-radius: 0;
  color: #000000; }
  .form-control:active, .form-control:focus, .custom-select:active, .custom-select:focus {
    color: #000000;
    border-color: #FFA726;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent; }
  .form-control::-webkit-input-placeholder, .custom-select::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.5); }
  .form-control::-moz-placeholder, .custom-select::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.5); }
  .form-control:-ms-input-placeholder, .custom-select:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.5); }
  .form-control:-moz-placeholder, .custom-select:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.5); }

.gutter-v1 {
  margin-right: -20px;
  margin-left: -20px; }
  @media (max-width: 991.98px) {
    .gutter-v1 {
      margin-left: -15px;
      margin-right: -15px; } }
  .gutter-v1 > .col,
  .gutter-v1 > [class*="col-"] {
    padding-right: 20px;
    padding-left: 20px; }
    @media (max-width: 991.98px) {
      .gutter-v1 > .col,
      .gutter-v1 > [class*="col-"] {
        padding-right: 15px;
        padding-left: 15px; } }

.gutter-v2 {
  margin-right: -5px;
  margin-left: -5px; }
  @media (max-width: 991.98px) {
    .gutter-v2 {
      margin-left: -15px;
      margin-right: -15px; } }
  .gutter-v2 > .col,
  .gutter-v2 > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px; }
    @media (max-width: 991.98px) {
      .gutter-v2 > .col,
      .gutter-v2 > [class*="col-"] {
        padding-right: 15px;
        padding-left: 15px; } }

.gutter-v3 {
  margin-right: -40px;
  margin-left: -40px; }
  @media (max-width: 991.98px) {
    .gutter-v3 {
      margin-left: -15px;
      margin-right: -15px; } }
  .gutter-v3 > .col,
  .gutter-v3 > [class*="col-"] {
    padding-right: 40px;
    padding-left: 40px; }
    @media (max-width: 991.98px) {
      .gutter-v3 > .col,
      .gutter-v3 > [class*="col-"] {
        padding-right: 15px;
        padding-left: 15px; } }

.spinner-border {
  color: #FFA726; }

/*PRELOADING------------ */
#overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7100;
  background: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.loader {
  z-index: 7700;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.top-bar a {
  color: #000000; }

.cart {
  right: 0;
  top: 0px; }

.menu-icons {
  position: absolute;
  right: 0;
  top: 0; }
  .menu-icons .btn-custom-search {
    font-size: 16px;
    color: #000000;
    margin-right: 20px; }
  .menu-icons .user-profile {
    font-size: 20px;
    color: #000000;
    margin-right: 20px; }
    @media (max-width: 991.98px) {
      .menu-icons .user-profile {
        margin-right: 100px; } }
  .menu-icons .cart {
    color: #000000;
    font-size: 20px; }
    @media (max-width: 991.98px) {
      .menu-icons .cart {
        right: 80px; } }
    .menu-icons .cart .item-in-cart {
      position: absolute;
      font-size: 10px;
      line-height: 20px;
      width: 20px;
      height: 20px;
      right: -18px;
      top: -2px;
      border-radius: 50%;
      background: #000000; }
    .menu-icons .cart:hover {
      color: #ffffff; }

.btn-custom-search {
  color: #000000; }
.btn-custom{
    background-color: #FFA726;
}
.logo {
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media (max-width: 991.98px) {
    .logo {
      left: 20px;
      top: 15px; } }
  .logo:hover {
    color: #000000; }

.menu-absolute {
  position: absolute !important; }

.btn-book {
  position: absolute;
  right: 15px;
  margin-top: -2px; }
  @media (max-width: 991.98px) {
    .btn-book {
      right: 60px; } }

.site-nav {
  position: absolute;
  width: 100%;
  z-index: 9;
  top: 0; }
  .site-nav a {
    position: relative;
    z-index: 9;
    cursor: pointer; }

.site-nav {
  padding-top: 20px;
  padding-bottom: 45px; }
  @media (max-width: 991.98px) {
    .site-nav {
      background: #ffffff; } }
  .site-nav h1 {
    margin: 0;
    padding: 0;
    font-size: 24px; }
  .site-nav .site-navigation {
    position: relative; }
    .site-nav .site-navigation .site-menu {
      margin-bottom: 0; }
      .site-nav .site-navigation .site-menu > li {
        display: inline-block; }
        .site-nav .site-navigation .site-menu > li > a {
          font-size: 11px;
          text-transform: uppercase;
          padding: 10px 15px;
          display: inline-block;
          text-decoration: none !important;
          color: rgba(0, 0, 0, 0.5);
          position: relative; }
          .site-nav .site-navigation .site-menu > li > a:hover {
            color: #000000; }
        .site-nav .site-navigation .site-menu > li.cta-button a {
          padding: 5px 22px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          color: #000000;
          border-radius: 30px; }
          .site-nav .site-navigation .site-menu > li.cta-button a:hover {
            color: #ffffff;
            background: #ffffff;
            border-color: #ffffff; }
        .site-nav .site-navigation .site-menu > li.cta-button.active a {
          color: #000000;
          background: #ffffff;
          border-color: #ffffff; }
        .site-nav .site-navigation .site-menu > li.active > a {
          color: #000000;
          position: relative;
          display: inline-block; }
          .site-nav .site-navigation .site-menu > li.active > a:after {
            content: "";
            height: 3px;
            left: 15px;
            right: 15px;
            bottom: 0;
            position: absolute;
            background: #FFA726; }
      .site-nav .site-navigation .site-menu .has-children {
        position: relative; }
        .site-nav .site-navigation .site-menu .has-children > a {
          position: relative;
          padding-right: 20px; }
          .site-nav .site-navigation .site-menu .has-children > a:before {
            position: absolute;
            content: "\e313";
            font-size: 14px;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            font-family: 'icomoon'; }
        .site-nav .site-navigation .site-menu .has-children .dropdown {
          visibility: hidden;
          opacity: 0;
          top: 100%;
          z-index: 999;
          position: absolute;
          text-align: left;
          -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          padding: 20px 0;
          margin-top: 20px;
          margin-left: 0px;
          background: #ffffff;
          -webkit-transition: 0.2s 0s;
          -o-transition: 0.2s 0s;
          transition: 0.2s 0s; }
          .site-nav .site-navigation .site-menu .has-children .dropdown.arrow-top {
            position: absolute; }
            .site-nav .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
              display: none;
              bottom: 100%;
              left: 20%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none; }
            .site-nav .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
              display: none;
              border-color: rgba(136, 183, 213, 0);
              border-bottom-color: #ffffff;
              border-width: 10px;
              margin-left: -10px; }
          .site-nav .site-navigation .site-menu .has-children .dropdown a {
            font-size: 14px;
            text-transform: none;
            letter-spacing: normal;
            -webkit-transition: 0s all;
            -o-transition: 0s all;
            transition: 0s all;
            color: #000000; }
          .site-nav .site-navigation .site-menu .has-children .dropdown .active {
            color: #FFA726 !important; }
          .site-nav .site-navigation .site-menu .has-children .dropdown > li {
            list-style: none;
            padding: 0;
            margin: 0;
            min-width: 180px; }
            .site-nav .site-navigation .site-menu .has-children .dropdown > li > a {
              padding: 5px 20px;
              display: block; }
              .site-nav .site-navigation .site-menu .has-children .dropdown > li > a:hover {
                color: #FFA726; }
            .site-nav .site-navigation .site-menu .has-children .dropdown > li.active > a {
              color: #FFA726; }
            .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
              content: "\e315";
              right: 20px; }
            .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
              left: 100%;
              top: 0; }
              .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown li a:hover, .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > ul li a:hover {
                color: #FFA726; }
            .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
              color: #FFA726; }
        .site-nav .site-navigation .site-menu .has-children:hover > a, .site-nav .site-navigation .site-menu .has-children:focus > a, .site-nav .site-navigation .site-menu .has-children:active > a {
          color: #000000; }
        .site-nav .site-navigation .site-menu .has-children:hover, .site-nav .site-navigation .site-menu .has-children:focus, .site-nav .site-navigation .site-menu .has-children:active {
          cursor: pointer; }
          .site-nav .site-navigation .site-menu .has-children:hover > .dropdown, .site-nav .site-navigation .site-menu .has-children:focus > .dropdown, .site-nav .site-navigation .site-menu .has-children:active > .dropdown {
            -webkit-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s;
            margin-top: 0px;
            visibility: visible;
            opacity: 1; }
  .site-nav.dark a {
    color: #000000; }
  .site-nav.dark .site-navigation .site-menu > li > a {
    color: rgba(0, 0, 0, 0.5); }
    .site-nav.dark .site-navigation .site-menu > li > a:hover {
      color: #000000; }
  .site-nav.dark .site-navigation .site-menu > li.active > a {
    color: #000000; }
  .site-nav.dark .site-navigation .site-menu > li.has-children.dropdown:hover > a, .site-nav.dark .site-navigation .site-menu > li.has-children.dropdown:focus > a, .site-nav.dark .site-navigation .site-menu > li.has-children.dropdown:active > a {
    color: #FFA726; }
  .site-nav.dark .site-navigation .site-menu > li.has-children:hover > a, .site-nav.dark .site-navigation .site-menu > li.has-children:focus > a, .site-nav.dark .site-navigation .site-menu > li.has-children:active > a {
    color: #000000; }

.site-mobile-menu-close {
  display: block;
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 99;
  cursor: pointer;
  top: -20px; }
  .site-mobile-menu-close > span {
    cursor: pointer;
    display: block;
    position: absolute;
    height: 30px;
    width: 30px; }
    .site-mobile-menu-close > span:before, .site-mobile-menu-close > span:after {
      position: absolute;
      content: "";
      width: 2px;
      height: 30px;
      background: #000000; }
    .site-mobile-menu-close > span:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .site-mobile-menu-close > span:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #ffffff;
  height: calc(100vh);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1); }
  .offcanvas-menu .site-mobile-menu {
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 5px 20px;
      display: block;
      position: relative;
      color: #000000; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #FFA726; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #FFA726; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 0px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%;
      border: 1px solid #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 14px;
        z-index: 20;
        font-family: "icomoon";
        content: "\e313";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 14px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 14px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 14px;
                padding-left: 60px; }

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%; }
  .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .sticky-wrapper .site-navbar .site-menu-toggle {
    color: #000000; }
  .sticky-wrapper .site-navbar .site-logo a {
    color: #000000; }
  .sticky-wrapper .site-navbar .site-menu > li > a {
    color: rgba(0, 0, 0, 0.8) !important; }
    .sticky-wrapper .site-navbar .site-menu > li > a:hover, .sticky-wrapper .site-navbar .site-menu > li > a.active {
      color: #000000 !important; }
  .sticky-wrapper .cart {
    color: #ffffff !important; }
  .sticky-wrapper.is-sticky .burger:before, .sticky-wrapper.is-sticky .burger span, .sticky-wrapper.is-sticky .burger:after {
    background: #000000;
    -webkit-transition: .0s all ease;
    -o-transition: .0s all ease;
    transition: .0s all ease; }
  .sticky-wrapper.is-sticky .site-navbar {
    background: #000000;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1); }
    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
      color: #000000 !important; }
    .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
      color: #000000 !important; }
      .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover, .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active {
        color: #FFA726 !important; }
    .sticky-wrapper.is-sticky .site-navbar .site-menu > li.active a {
      color: #FFA726 !important; }
  .sticky-wrapper .shrink {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
  .sticky-wrapper .cart {
    color: #000000 !important; }
    .sticky-wrapper .cart .item-in-cart {
      color: #ffffff; }

.sticky-nav {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  background: transparent; }

@media (max-width: 991.98px) {
  #sticky-wrapper .sticky-nav {
    background: #ffffff !important; } }

#sticky-wrapper.is-sticky .sticky-nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1); }
  #sticky-wrapper.is-sticky .sticky-nav .burger:before, #sticky-wrapper.is-sticky .sticky-nav .burger span, #sticky-wrapper.is-sticky .sticky-nav .burger:after {
    background: #000000;
    -webkit-transition: .0s all ease;
    -o-transition: .0s all ease;
    transition: .0s all ease; }
  #sticky-wrapper.is-sticky .sticky-nav .logo {
    color: #FFA726 !important; }
  #sticky-wrapper.is-sticky .sticky-nav .site-menu > li > a {
    color: #000000 !important; }
    #sticky-wrapper.is-sticky .sticky-nav .site-menu > li > a:hover, #sticky-wrapper.is-sticky .sticky-nav .site-menu > li > a.active {
      color: #FFA726 !important; }
  #sticky-wrapper.is-sticky .sticky-nav .site-menu > li.active a {
    color: #FFA726 !important; }

/* Burger */
.burger {
  width: 28px;
  height: 32px;
  cursor: pointer;
  position: relative; }
  .burger.light:before, .burger.light span, .burger.light:after {
    background: #ffffff; }

.burger:before, .burger span, .burger:after {
  width: 100%;
  height: 2px;
  display: block;
  background: #000;
  border-radius: 2px;
  position: absolute;
  opacity: 1; }

.burger:before, .burger:after {
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: ""; }

.burger:before {
  top: 4px; }

.burger span {
  top: 15px; }

.burger:after {
  top: 26px; }

/* Hover */
.burger:hover:before {
  top: 7px; }

.burger:hover:after {
  top: 23px; }

/* Click */
.burger.active span {
  opacity: 0; }

.burger.active:before, .burger.active:after {
  top: 40%; }

.burger.active:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
  /*for IE*/ }

.burger.active:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);
  /*for IE*/ }

.burger:focus {
  outline: none; }

.untree_co-hero, .bg-img {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative; }
  .untree_co-hero.overlay, .bg-img.overlay {
    position: relative; }
    .untree_co-hero.overlay:before, .bg-img.overlay:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 1; }
  .untree_co-hero > .container, .bg-img > .container {
    position: relative;
    z-index: 2; }
  .untree_co-hero, .untree_co-hero > .container > .row, .bg-img, .bg-img > .container > .row {
    height: 90vh;
    min-height: 650px; }
    @media (max-width: 767.98px) {
      .untree_co-hero, .untree_co-hero > .container > .row, .bg-img, .bg-img > .container > .row {
        min-height: 750px; } }
  .untree_co-hero .caption, .bg-img .caption {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: .1rem; }
  .untree_co-hero .heading, .bg-img .heading {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.4; }
    @media (max-width: 991.98px) {
      .untree_co-hero .heading, .bg-img .heading {
        font-size: 30px; } }
  .untree_co-hero .link-highlight, .bg-img .link-highlight {
    color: #ffffff;
    position: relative;
    display: inline;
    -webkit-box-shadow: 0 5px 0 0 #FFA726;
    box-shadow: 0 5px 0 0 #FFA726; }
  .untree_co-hero .desc, .bg-img .desc {
    font-size: 18px;
    max-width: 450px; }
    @media (max-width: 991.98px) {
      .untree_co-hero .desc, .bg-img .desc {
        margin: 0 auto; } }
  .untree_co-hero .cta-section, .untree_co-hero .cta-section > .container > .row, .bg-img .cta-section, .bg-img .cta-section > .container > .row {
    height: 70vh;
    min-height: 450px; }

.untree_co-section {
  padding: 100px 0;
  position: relative; }
  @media (max-width: 991.98px) {
    .untree_co-section {
      padding: 50px 0; } }
  .untree_co-section .heading h3 {
    font-size: 35px;
    color: #000000; }
  @media (max-width: 991.98px) {
    .untree_co-section .heading {
      font-size: 20px; } }
  .untree_co-section .heading strong {
    font-weight: 700; }

.position-relative {
  position: relative; }

.feature {
  text-align: center;
  background: #ffffff;
  padding: 20px; }
  .feature .icon {
    font-size: 30px; }
  .feature h3 {
    font-size: 11px;
    letter-spacing: .2rem;
    font-weight: 400;
    text-transform: uppercase; }
  .feature p {
    font-size: 15px;
    color: #b3b3b3; }

.product-item {
  text-align: center; }
  .product-item .product-img {
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 30px; }
    .product-item .product-img .custom-badge {
      position: absolute;
      padding: 5px 10px;
      left: 0;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: .2rem;
      color: #ffffff;
      z-index: 2; }
      .product-item .product-img .custom-badge.new {
        background: #FFA726; }
      .product-item .product-img .custom-badge.sale {
        background: #ffc107; }
    .product-item .product-img img {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      z-index: 1; }
    .product-item .product-img:hover img {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
  .product-item h3 {
    font-size: 15px;
    margin-bottom: 0; }
    .product-item h3 a {
      color: #000000; }
  .product-item .price {
    font-size: 13px; }

.deal-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative; }
  .deal-hero.overlay {
    position: relative; }
    .deal-hero.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.3); }
  .deal-hero .deal-contents {
    width: 50%;
    padding: 30px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff; }
    .deal-hero .deal-contents .subtitle {
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: .2rem; }
    .deal-hero .deal-contents .title {
      font-size: 3rem; }
      .deal-hero .deal-contents .title a {
        color: #ffffff;
        text-decoration: underline; }
    @media (max-width: 991.98px) {
      .deal-hero .deal-contents {
        width: auto;
        right: 20px;
        left: 20px; } }

.subscribe > .d-flex {
  position: relative; }
  .subscribe > .d-flex .btn {
    border-radius: 0; }
  .subscribe > .d-flex .form-control:active, .subscribe > .d-flex .form-control:focus {
    outline: none;
    border-color: #000000; }

.owl-single .owl-dots {
  position: absolute; }

.owl-single.home-slider .owl-dots {
  position: absolute;
  bottom: 10px; }

.owl-3-slider .owl-nav {
  display: none; }

.owl-3-slider .owl-dots {
  position: absolute;
  bottom: -70px; }

.carousel-nav a {
  color: #ccc; }
  .carousel-nav a:hover {
    color: #000000; }
  .carousel-nav a svg {
    font-size: 30px; }

.search-form {
  background: #ffffff;
  width: 100%;
  left: 0;
  right: 0px;
  position: fixed;
  z-index: 99;
  padding: 30px 0;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.05);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }
  .search-form.show {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%); }
  .search-form .form-control {
    position: absolute;
    right: 0;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    top: 50%; }
  .search-form button {
    position: absolute;
    top: 0;
    border: none;
    background: none;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 70px; }

.close-search {
  display: block;
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: 99;
  right: -50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer; }
  .close-search > span {
    cursor: pointer;
    display: block;
    position: absolute;
    height: 30px;
    width: 30px; }
    .close-search > span:before, .close-search > span:after {
      position: absolute;
      content: "";
      width: 2px;
      height: 30px;
      background: #000000; }
    .close-search > span:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .close-search > span:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.sort {
  background: #f8f9fa;
  padding: 20px; }
  .sort strong {
    font-weight: normal; }
  .sort select {
    background: #f8f9fa;
    border: none; }
    .sort select:active, .sort select:focus {
      outline: none; }

.categories li {
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f8f9fa; }
  .categories li a {
    color: #000000;
    display: block;
    position: relative; }
    .categories li a span {
      position: absolute;
      right: 0;
      font-size: 12px;
      color: #ccc;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .categories li a:hover span {
      color: #000000; }

.custom-pagination ul li {
  display: inline !important; }
  .custom-pagination ul li a, .custom-pagination ul li span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    position: relative;
    font-size: 13px;
    color: #000000;
    border: 1px solid #ccc;
    text-align: center; }
    .custom-pagination ul li a:hover, .custom-pagination ul li span:hover {
      border-color: #FFA726; }
    .custom-pagination ul li a:active, .custom-pagination ul li a:focus, .custom-pagination ul li span:active, .custom-pagination ul li span:focus {
      outline: none; }
    .custom-pagination ul li a svg, .custom-pagination ul li span svg {
      position: relative;
      top: -3px;
      font-size: 16px; }
  .custom-pagination ul li > span {
    background: #f8f9fa; }
    .custom-pagination ul li > span:hover {
      border-color: #ccc; }

.untree_co-section .h3 {
  font-size: 20px; }

.page-heading, .page-heading > .container > .row {
  max-height: 40vh;
  min-height: 200px; }

.page-heading h1 {
  font-size: 40px; }
  @media (max-width: 991.98px) {
    .page-heading h1 {
      font-size: 30px; } }

.site-blocks-table {
  overflow: auto; }
  .site-blocks-table .product-thumbnail {
    width: 200px; }
  .site-blocks-table .btn {
    padding: 2px 10px; }
  .site-blocks-table thead th {
    padding: 30px;
    text-align: center;
    border-width: 1px !important;
    vertical-align: middle;
    color: #212529;
    font-size: 18px; }
  .site-blocks-table td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    color: #212529; }
  .site-blocks-table tbody tr:first-child td {
    border-top: 1px solid #FFA726 !important; }

.site-block-order-table th {
  border-top: none !important;
  border-bottom-width: 1px !important; }

.site-block-order-table td, .site-block-order-table th {
  color: #000000; }

.site-block-top-search {
  position: relative; }
  .site-block-top-search .icon {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .site-block-top-search input {
    padding-left: 40px;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }
    .site-block-top-search input:focus, .site-block-top-search input:active {
      padding-left: 25px; }

.team {
  padding: 20px; }
  .team img {
    border-radius: 50%;
    width: 200px; }
  .team h3 {
    font-size: 20px; }
  .team .position {
    color: #999; }

.bg-1:before {
  position: absolute;
  width: 300px;
  height: 400px;
  background: rgba(184, 69, 146, 0.05);
  content: "";
  left: -20%;
  bottom: 20%;
  z-index: -1; }

.contact-info i {
  font-size: 20px;
  float: left;
  width: 44px;
  height: 44px;
  background: #FFA726;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #ffffff; }

.contact-info h4 {
  font-size: 18px;
  padding: 0 0 0 60px; }

.contact-info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px; }

.label {
  position: absolute;
  padding: 5px 10px;
  z-index: 2;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .2rem;
  color: #ffffff;
  z-index: 2; }
  .label.new {
    background: #84bd00; }
  .label.sale {
    background: #ffc107; }

.top-right {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg) scaleX(-1);
  -ms-transform: rotate(90deg) scaleX(-1);
  transform: rotate(90deg) scaleX(-1);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right; }
  .top-right.second {
    left: 30px; }
  .top-right .content {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); }

.thankyou-icon {
  position: relative; }
  .thankyou-icon:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(184, 69, 146, 0.2); }

.custom-block {
  margin-bottom: 30px; }
  .custom-block .section-title {
    font-size: 18px;
    font-weight: 700; }

.custom-accordion .accordion-item {
  margin-bottom: 0px;
  position: relative;
  border-radius: 0px;
  overflow: hidden; }
  .custom-accordion .accordion-item .btn-link {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    text-align: left;
    color: #000000;
    background: transparent;
    border: none;
    padding-left: 40px;
    border-radius: 0;
    position: relative;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
    .custom-accordion .accordion-item .btn-link:before {
      font-family: 'icomoon';
      content: "\f067";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 15px; }
    .custom-accordion .accordion-item .btn-link[aria-expanded="true"] {
      font-weight: 700;
      color: #ffffff !important;
      background: #FFA726; }
      .custom-accordion .accordion-item .btn-link[aria-expanded="true"]:before {
        font-family: 'icomoon';
        content: "\f068";
        position: absolute;
        color: #ffffff;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 15px; }
  .custom-accordion .accordion-item.active {
    z-index: 2; }
    .custom-accordion .accordion-item.active .btn-link {
      color: #000000;
      -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1); }
  .custom-accordion .accordion-item .accordion-body {
    padding: 20px 20px 20px 20px; }

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px; }
  .control .caption {
    position: relative;
    top: -3px;
    font-size: 16px; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #FFA726; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #c0579d; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; }

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 14px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #FFA726;
  opacity: .2; }

.gal-item {
  display: block;
  margin-bottom: 8px; }
  .gal-item img {
    border-radius: 4px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 1; }
  .gal-item:hover img {
    opacity: .5; }

.social-icons li {
  display: inline-block; }
  .social-icons li a {
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    background: #303030; }
    .social-icons li a span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .social-icons li a:hover {
      color: #ffffff; }
  .social-icons li:first-child a {
    padding-left: 0; }

.social-icons.light li a {
  color: #000000;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  background: #f8f9fa; }

.video-wrap {
  position: relative;
  display: block; }
  .video-wrap .play-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .video-wrap .play-wrap > span {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #ffffff;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .video-wrap:hover .play-wrap {
    width: 60px;
    height: 60px; }

.owl-single.dots-absolute .owl-dots, .owl-carousel.dots-absolute .owl-dots {
  bottom: 40px; }
  .owl-single.dots-absolute .owl-dots .owl-dot span, .owl-carousel.dots-absolute .owl-dots .owl-dot span {
    background: rgba(255, 255, 255, 0.5); }

.owl-single .owl-dots, .owl-carousel .owl-dots {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .owl-single .owl-dots .owl-dot, .owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    margin: 5px; }
    .owl-single .owl-dots .owl-dot span, .owl-carousel .owl-dots .owl-dot span {
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.2); }
    .owl-single .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot.active span {
      background: #FFA726; }

.owl-single.no-dots .owl-dots, .owl-carousel.no-dots .owl-dots {
  display: none; }

.owl-single.no-nav .owl-nav, .owl-carousel.no-nav .owl-nav {
  display: none; }

.testimonial {
  max-width: 500px;
  text-align: center;
  margin-bottom: 30px; }
  .testimonial .name {
    font-size: 18px;
    color: #000000; }
  .testimonial .img-wrap img {
    margin: 0 auto;
    width: 70px;
    border-radius: 50%; }

.list-check li {
  display: block;
  padding-left: 30px;
  position: relative; }
  .list-check li:before {
    content: "\e5ca";
    font-family: 'icomoon';
    position: absolute;
    top: -.3rem;
    font-size: 20px;
    left: 0; }

.owl-single .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media (max-width: 767.98px) {
    .owl-single .owl-nav {
      display: none; } }
  .owl-single .owl-nav .owl-prev, .owl-single .owl-nav .owl-next {
    position: absolute;
    top: 0; }
    .owl-single .owl-nav .owl-prev span, .owl-single .owl-nav .owl-next span {
      display: block;
      background: #ffffff;
      padding: 15px; }
  .owl-single .owl-nav .owl-prev {
    left: -30px; }
  .owl-single .owl-nav .owl-next {
    right: -30px; }
    .owl-single .owl-nav .owl-next > span {
      position: relative;
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }

.ul-check li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px; }
  .ul-check li:before {
    position: absolute;
    left: 0;
    top: -.2rem;
    content: "\e5ca";
    font-size: 20px;
    font-family: 'icomoon'; }

.ul-check.primary li:before {
  color: #FFA726; }

.ul-check.white li:before {
  color: #ffffff; }

.section-title {
  color: #000000;
  margin-bottom: 30px; }

.site-footer {
  font-size: 14px;
  padding: 100px 0 70px 0; }
  .site-footer a {
    color: #000000;
    position: relative;
    display: inline-block; }
  .site-footer .btn:before {
    display: none; }
  .site-footer .widget {
    margin-bottom: 40px;
    display: block;
    position: relative;
    z-index: 1; }
    .site-footer .widget h3 {
      font-size: 16px;
      margin-bottom: 30px; }
    .site-footer .widget .links {
      width: 150px; }
      .site-footer .widget .links li {
        margin-bottom: 10px; }
        .site-footer .widget .links li a {
          color: rgba(0, 0, 0, 0.5); }
          .site-footer .widget .links li a:hover {
            color: #000000; }
  .site-footer .social li {
    display: inline-block; }
    .site-footer .social li a {
      display: inline-block;
      width: 30px;
      height: 30px;
      position: relative;
      background-color: rgba(0, 0, 0, 0.03);
      border-radius: 50%;
      color: #000000; }
      .site-footer .social li a:before {
        display: none; }
      .site-footer .social li a > span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .site-footer .social li a:hover {
        background: #c769a8; }
  .site-footer .copyright a {
    color: #000000;
    display: inline-block; }
    .site-footer .copyright a:before {
      content: "";
      height: 1px;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background: #000000; }
.is-error  {
        border: 1px solid #e02020;
}
.error {
  color: #e02020; ;
}
