{% extends 'store/layout.html' %}
{% load humanize %} 
{% block body_content %}
<div class="untree_co-section">
  <div class="container">
    <div class="row mb-5">
      <form class="col-md-12" method="post">
        <div class="site-blocks-table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="product-thumbnail">Ảnh</th>
                <th class="product-name">Sản phẩm</th>
                <th class="product-price">Size</th>
                <th class="product-price">Số lượng</th>
                <th class="product-total">Đơn giá</th>
                <th class="product-remove">Xóa</th>
              </tr>
            </thead>
            <tbody id="cart_table_content">
              {% for item in  list_product %}
              <tr>
                <td class="product-thumbnail">
                  <img src="{{item.url_img}}" alt="Image" class="img-fluid">
                </td>
                <td class="product-name">
                  <h2 class="h5 text-black">{{item.name}}</h2>
                </td>
                <td>{{item.size}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price|intcomma}} đ</td>
                <td><a class="btn btn-black btn-sm btn-delete-cart" data-id="{{item.id}}">X</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row mb-5">
          <div class="col-md-6 mb-3 mb-md-0">
            <button class="btn btn-outline-black btn-sm btn-block">Cập nhật giỏ hàng</button>
          </div>
          <div class="col-md-6">
            
            <a class="btn btn-custom btn-sm btn-block" href="{% url 'shoe_store:shop' 'all' %}"><span style="color:white;">Tiếp tục mua sắm</span></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="text-black h4" for="coupon">Mã giảm giá</label>
            <p>Nhập mã giảm giá nếu bạn có:</p>
          </div>
          <div class="col-md-8 mb-3 mb-md-0">
            <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
          </div>
          <div class="col-md-4">
            <button class="btn btn-custom"><span style="color:white;">ÁP DỤNG MÃ</span></button>
          </div>
        </div>
      </div>
      <div class="col-md-6 pl-5">
        <div class="row justify-content-end">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12 text-right border-bottom mb-5">
                <h3 class="text-black h4 text-uppercase">Tổng tiền</h3>
              </div>
            </div>
          
            <div class="row mb-5">
              <div class="col-md-6">
                <span class="text-black">Tổng</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black" id="total_price">{{total_price|intcomma}} đ</strong>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <a class="btn btn-custom btn-lg py-3 btn-block" href="{% url 'shoe_store:checkout' %}"><span style="color:white;">Thanh Toán</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body_content %}
{% block extra-js %}
<script>
  window.addEventListener("load", function() {
      $('.btn-delete-cart').on('click',function (e){
        let product_id = $(this).data('id');
        $.ajax({
          type: 'GET',
          url: '../remove_cart/?product_id=' + product_id,
  
          success: function (data) {
            $('#cart_table_content').html(data.html);
            $('#total_price').html(data.total_price +'đ');
          },
          error: function (data) {
              console.log(data);
          }
        });
      });
    
  $( document ).ajaxComplete(function( event, request, settings ) {
    $('.btn-delete-cart-ajax').on('click',function (e){
      let product_id = $(this).data('id');
      $.ajax({
        type: 'GET',
        url: '../remove_cart/?product_id=' + product_id,

        success: function (data) {
          $('#cart_table_content').html(data.html)
          $('#total_price').html(data.total_price +'đ')
        },
        error: function (data) {
            console.log(data);
        }
      });
    });
  });
  });
</script>
{% endblock extra-js %}


  