{% extends 'store/layout.html' %}
{% load static %}
{% load humanize %}
{% block body_content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
<div class="page-heading ">
  <div class="container">
    <div class="row align-items-end text-center">
      <div class="col-lg-7 mx-auto">
        <h1>Thanh toán</h1>  
        <p class="mb-4"><a href="{% url 'shoe_store:shop' 'all' %}">Cửa hàng</a> / <strong>Thanh toán</strong></p>        
      </div>
    </div>
  </div>
</div>


<form action="{% url 'shoe_store:checkout' %}" method="POST" id="form_order">
  {% csrf_token %}
  <div class="untree_co-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0">
          <h2 class="h3 mb-3 text-black">Chi tiết thanh toán</h2>
          <div class="p-3 p-lg-5 border">
            <div class="form-group">
            <div class="form-group row">
              <div class="col-md-12">
                <label for="c_fname" class="text-black">Họ và tên<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="name_id" name="name">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <label for="c_address" class="text-black">Địa chỉ<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="address_id" name="address" placeholder="Street address">
              </div>
            </div>
            <div class="form-group row mb-5">
              <div class="col-md-6">
                <label for="c_email_address" class="text-black">Email <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="email_id" name="email">
              </div>
              <div class="col-md-6">
                <label for="c_phone" class="text-black">Số điện thoại<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="phone_id" name="phone" >
              </div>
            </div>
            <div class="form-group">
              <label for="c_order_notes" class="text-black">Ghi chú<span class="text-danger">*</span></label>
              <textarea name="order_notes" id="order_notes_id" cols="30" rows="5" class="form-control" placeholder="Write your notes here..."></textarea>
            </div>

          </div>
        </div>
        
        <div class="row mb-5">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-black">Mã giảm giá</h2>
            <div class="p-3 p-lg-5 border">

              <label for="c_code" class="text-black mb-3">Nhập mã giảm giá nếu bạn có:</label>
              <div class="input-group w-75">
                <input type="text" class="form-control" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-custom" ><span style="color:white;">ÁP DỤNG MÃ</span></button>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
        <div class="col-md-6">

      

          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Đơn hàng của bạn</h2>
              <div class="p-3 p-lg-5 border">
                <table class="table site-block-order-table mb-5">
                  <thead>
                    <th>Sản phẩm</th>
                    <th>Tổng</th>
                  </thead>
                  <tbody>
                    {% for item  in list_product %}
                    <tr>
                      <td>{{item.name}} x {{item.quantity}}</td>
                      <td>{{item.price|intcomma}} đ</td>
                    </tr>
                    {% endfor %}
                    <tr>
                      <td class="text-black font-weight-bold"><strong>Tổng tiền</strong></td>
                      <td class="text-black font-weight-bold"><strong>{{total_price|intcomma}} đ</strong></td>
                    </tr>
                  </tbody>
                </table>

                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Thanh toán bằng thẻ</a></h3>

                  <div class="collapse" id="collapsebank">
                    <div class="py-2">
                      <p class="mb-0">Bạn trả bằng thẻ ngân hàng</p>
                    </div>
                  </div>
                </div>

                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque" role="button" aria-expanded="false" aria-controls="collapsecheque">Thanh toán khi nhận hàng</a></h3>

                  <div class="collapse" id="collapsecheque">
                    <div class="py-2">
                      <p class="mb-0">Thanh toán khi nhận hàng</p>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <button class="btn btn-custom btn-lg py-3 btn-block" type="submit"><span style="color:white;">Đặt hàng</span></button>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
      
    </div>
  </div>
</form>
<!-- </form> -->
<div class="untree_co-section bg-light">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-12 col-sm-6 col-md-4 mb-3 mb-md-0">
        <div class="feature h-100">
          <div class="icon mb-4">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-truck" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5v7h-1v-7a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5v1A1.5 1.5 0 0 1 0 10.5v-7zM4.5 11h6v1h-6v-1z"/>
              <path fill-rule="evenodd" d="M11 5h2.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5h-1v-1h1a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4.5h-1V5zm-8 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
              <path fill-rule="evenodd" d="M12 13a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
            </svg>
          </div>
          <h3>Worldwide Delivery</h3>
          <p>Far far away, behind the word mountains, far from the countries.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-3 mb-md-0">
        <div class="feature h-100">
          <div class="icon mb-4">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"/>
              <path d="M9.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
              <path d="M7.411 8.034a.5.5 0 0 1 .493-.417h.156a.5.5 0 0 1 .492.414l.347 2a.5.5 0 0 1-.493.585h-.835a.5.5 0 0 1-.493-.582l.333-2z"/>
            </svg>
          </div>
          <h3>Secure Payments</h3>
          <p>Far far away, behind the word mountains, far from the countries.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-3 mb-md-0">
        <div class="feature h-100">
          <div class="icon mb-4">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-counterclockwise" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M12.83 6.706a5 5 0 0 0-7.103-3.16.5.5 0 1 1-.454-.892A6 6 0 1 1 2.545 5.5a.5.5 0 1 1 .91.417 5 5 0 1 0 9.375.789z"/>
              <path fill-rule="evenodd" d="M7.854.146a.5.5 0 0 0-.708 0l-2.5 2.5a.5.5 0 0 0 0 .708l2.5 2.5a.5.5 0 1 0 .708-.708L5.707 3 7.854.854a.5.5 0 0 0 0-.708z"/>
            </svg>
          </div>
          <h3>Simple Returns</h3>
          <p>Far far away, behind the word mountains, far from the countries.</p>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /.untree_co-section -->
{% endblock body_content %}
{% block extra-js %}
<script src="{% static 'store/js/checkout.js'%}"></script>
{% endblock extra-js %}




  