{% load static %}
<div class="site-footer">

    <div class="container">
        <div class="row justify-content-between" style="color: #206430">
            <div class="col-lg-5">
                <div class="widget mb-4">
                    <h3 class="mb-2">{{about.title}}</h3>
                    <p>{{about.about_describe}}</p>
                </div>
                <div class="widget">
                    <h3>{{about.last_mes}}</h3>        
                </div>
            </div>
            <div class="col-lg-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14906.371424293819!2d106.05226978780443!3d20.928693910711168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a5666cc501c1%3A0x951d4b75688416cf!2zTmfDoyB0xrAgUGjhu5EgTuG7kWk!5e0!3m2!1svi!2s!4v1683383315154!5m2!1svi!2s" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </div>
        </div>


        <div class="row mt-2">
            <div class="col-12 text-center">
                <ul class="list-unstyled social">
                    <li><a href="{{about.facebook}}" target="_blank"><span class="icon-facebook"></span></a></li>
                    <li><a href="{{about.instagram}}"  target="_blank"><span class="icon-instagram"></span></a></li>
                    <li><a href="#"><span class="icon-linkedin"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                </ul>
            </div>
            <div class="col-12 text-center copyright">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://www.facebook.com/quan.dinh.581525">Quan</a>
                </p>

            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.site-footer -->

<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

