{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Untree.co">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'admin_custom/img/logos/logo1.jpg' %}" />

<meta name="description" content="" />
<meta name="keywords" content="" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">


<link rel="stylesheet" href="{% static 'store/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'store/css/animate.min.css'%}">
<link rel="stylesheet" href="{% static 'store/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'store/css/owl.theme.default.min.css'%}">
<link rel="stylesheet" href="{% static 'store/css/jquery.fancybox.min.css'%}">
<link rel="stylesheet" href="{% static 'store/fonts/icomoon/style.css'%} ">
<link rel="stylesheet" href="{% static 'store/fonts/flaticon/font/flaticon.css'%} ">
<link rel="stylesheet" href="{% static 'store/css/aos.css'%}">
<link rel="stylesheet" href="{% static 'store/css/style.css' %}">