{% extends 'store/layout.html' %}
{% load shop_tags%}
{% load static %}
{% load humanize %}
{% block body_content  %}
<div class="owl-carousel owl-single home-slider">
	{% for item in banner  %}
	<div class="item">
		<div class="untree_co-hero" style="background-image: url('{{item.image.url}}');">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">

						<h1 class="mb-4 heading" data-aos="fade-up" data-aos-delay="100">{{item.title}}<a href="{% url 'shoe_store:shop' 'all' %}"></a></h1>
						<div class="mb-5 text-white desc mx-auto" data-aos="fade-up" data-aos-delay="200">
						</div>

						<p class="mb-0" data-aos="fade-up" data-aos-delay="300"><a href="{% url 'shoe_store:shop' 'all' %}" class="btn btn-outline-black">Shop Now</a></p>

					</div>
				</div>
			</div>
		</div> <!-- /.untree_co-hero -->
	</div>
	{% endfor %}
</div>





<div class="untree_co-section">
	<div class="container">


		<div class="deal-hero overlay" style="background-image: url('{% static 'admin_custom/img/banner/second_Banner.jpg' %}')"> 
			<div class="deal-contents">
				<span class="subtitle">SALE đén 70%</span>
				<h2 class="title mb-4"><a href="#">Hè rực rỡ!</a></h2>
				<p class="mb-5"></p>
			</div>
		</div> <!-- /.deal-hero -->

	</div>
</div>
	<div class="untree_co-section">
		<div class="container">
			<h2 class="h3"><span class="text-danger">Hàng mới</span></h2>     
			<div class="row">
				{% for item in list_product_new  %}
				<div class="col-6 col-sm-6 col-md-6 mb-4 col-lg-4">
					<div class="product-item">
						<a href="{% url 'shoe_store:product_detail' item.id %}" class="product-img">
							<div class="label new top-right">
								<div class='content'>New</div>
							</div>
							<img src="{% get_img_product item.id %}" alt="Image" class="img-fluid">
						</a>
						<h3 class="title"><a href="#">{{item.name}}</a></h3>
						<div class="price">
							 <span >{{item.accurate_price|intcomma}} đ</span>
						</div>
					</div>
				</div>

				{% endfor %}
			</div>
		</div>
	</div> <!-- /.untree_co-section -->




<div class="untree_co-section">
    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-md-6">
          <h2 class="h3"><span class="text-danger">SALE</span></h2>        
        </div>
        <div class="col-sm-6 carousel-nav text-sm-right">
          <a href="#" class="prev js-custom-prev-v2">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
              <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
            </svg>
          </a>
          <a href="#" class="next js-custom-next-v2">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
              <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </a>
        </div>
      </div> <!-- /.heading -->
	  {% render_sale_product %}
    </div> <!-- /.container -->
  </div> <!-- /.untree_co-section -->  

{% endblock  %}

	

