<!DOCTYPE html>
{% load static %}
{% load shop_tags %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}{% endblock title %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'store/head.html' %}
        {% block extra-css %}
        {% endblock extra-css %}
    </head>
    <body>
    {% block navbar %}
        {% render_category request %}  
    {% endblock navbar %}
    {% block body_content %}   
    
    {% endblock %}
    {% block footer %}
       {% render_footer %}
    {% endblock %}

    {% block js %}
    <script src="{% static 'store/js/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'store/js/popper.min.js'%}"></script>
    <script src="{% static 'store/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'store/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'store/js/jquery.animateNumber.min.js'%}"></script>
    <script src="{% static 'store/js/jquery.waypoints.min.js'%}"></script>
    <script src="{% static 'store/js/jquery.fancybox.min.js'%}"></script>
    <script src="{% static 'store/js/jquery.sticky.js'%}"></script>
    <script src="{% static 'store/js/aos.js'%}"></script>
    <script src="{% static 'store/js/custom.js'%}"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script> 
             let  vnd = $('.vnd-price').data('price');
             $('.vnd-price').html(Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(parseInt(vnd)))
            console.log();
    </script>
    {% endblock js %}
    {% block extra-js %}
    {% endblock extra-js %}
    </body>
</html>