{% load static  %}

<div class="search-form" id="search-form">
	<form action=" {% url 'shoe_store:search' %}" method="POST">
		{% csrf_token %}
		<input type="search" class="form-control" placeholder="Tên sản phẩm muốn tìm..." name="search">
		<button class="button">
			<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
				<path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
			</svg>
		</button>
		<button class="button" type="submit">
			<div class="close-search">
				<span class="icofont-close js-close-search"></span>
			</div>
		</button>

	</form>
</div>

<div class="site-mobile-menu">
	<div class="site-mobile-menu-header">
		<div class="site-mobile-menu-close">
			<span class="icofont-close js-menu-toggle"></span>
		</div>
	</div>
	<div class="site-mobile-menu-body"></div>
</div>


<nav class="site-nav mb-5">
	<div class="sticky-nav js-sticky-header">
		<div class="container position-relative">
			<div class="site-navigation text-center dark">
				<a href="{% url 'shoe_store:index' %}" class="logo menu-absolute m-0"><img src="{% static 'admin_custom/img/logos/logo1.jpg' %}" style="max-width:120px;max-height:50px;;"><span class="text-primary"></span></a>

				<ul class="js-clone-nav pl-0 d-none d-lg-inline-block site-menu">
					<li class="active"><a href="{% url 'shoe_store:index' %}">Trang chủ</a></li>
					<li class="has-children">
						<a href="{% url 'shoe_store:shop' 'all' %}">Cửa hàng</a>
						<ul class="dropdown">
							{% if category %}
							{% for item in  category %}
							<li><a href="{% url 'shoe_store:shop' item.title %}" class="text-uppercase">{{item.title}}</a></li>
							{% endfor %}
							
							{% endif %}
							
						</ul>
					</li>
					<li class="has-children">
						<a href="{% url 'shoe_store:checkout' %}">Thanh toán</a>
						<ul class="dropdown">
							<li><a href="{% url 'shoe_store:cart' %}">Giỏ hàng</a></li>
							<li><a href="{% url 'shoe_store:checkout'  %}">Thanh toán</a></li>
						</ul>
					</li>
					
				</ul>
				<div class="menu-icons">

					<a href="#" class="btn-custom-search" id="btn-search">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
							<path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
						</svg>
					</a>



					<a href="{% url 'shoe_store:cart' %}" class="cart">
						<span class="item-in-cart" data-cart="{% if request.session.cart  %}{{request.session.cart |length}}{% else %}0{% endif %}"> {% if request.session.cart  %}{{request.session.cart |length}}{% else %}0{% endif %}</span>
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
						</svg>
					</a>

				</div>

				<a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none" data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>

			</div>
		</div>
	</div>
</nav>