{% extends 'store/layout.html' %}
  
{% block body_content %}
<div class="untree_co-section mt-5">
  <div class="container">
    <div class="row mb-5">
      <form class="col-md-12" method="post">
        <div class="site-blocks-table">
          <h2 class"text-danger">Không có sản phẩm trong giỏ hàng! Mời bạn tiếp tục mua sắm!</h2>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row mb-5">
          <div class="col-md-6 mb-3 mb-md-0">
            <a href=""  class="btn btn-outline-black btn-sm btn-block">Cập nhật giỏ hàng</a>   
          </div>
          <div class="col-md-6">
            <a class="btn btn-custom btn-sm btn-block" href="{% url 'shoe_store:shop' 'all' %}"><span style="color:white;">Tiếp tục mua sắm</span></a>
          </div>
        </div>
    
      </div>
  
    </div>
  </div>
</div>

{% endblock body_content %}




  