{% extends 'store/layout.html' %}
{% load static %}
{% load humanize %}
{% block extra-css %}
<link rel="stylesheet" href="{% static 'store/css/product_detail.css' %}">
{% endblock extra-css %}


{% block body_content %}
{% csrf_token %}
<!-- Shop Details div Begin -->
<div class="container" style="padding-top:150px;" id="padding-menu">
    <div id="alert_product" class="alert alert-success alert-dismissible fade show row" role="alert" hidden >
        <strong id="alert_mess">Sản phẩm đã có trong giỏ hàng!</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h1 class="text-center" style="padding-bottom:20px;">{{product.name}}</h1>
    <div class="row">
        <div class="col-lg-3 col-md-3" id="second_img">
            <ul class="nav .justify-content-center" >
                {% for item in img  %}
                <li class="nav-item text-center">
                    <a class="nav-link " data-toggle="tab" href="#tabs-1" role="tab">
                        <div class="product__thumb__pic set-bg mobile-img" data-url="{{item.img.url}}"  style="background-image: url('{{item.img.url}}');">
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-lg-6 col-md-9" id="first_img">
            <div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                    <div class="product__details__pic__item">
                        <img src="" alt="" id="img_main"> 
                    </div>
                </div>
            </div>
        </div>

    </div>
<div>
  
<!-- Related div End -->
<div class="container mt-1">
    <div class="row d-flex justify-content-left">
            <div class="product__details__text col-md-4">
                {% if product.type == 'sale' %}
                <h4>Giá:<del class="pl-4">{{product.price|intcomma}} đ</del> &mdash; <span class="text-danger">{{product.accurate_price|intcomma}} đ</span></h4>
                {% else %}
                <h4>Giá:<span class="pl-2">{{product.accurate_price|intcomma}} đ</span></h4>
                {% endif %}
                <h4 ><ul style="  display:flex;list-style:none;padding-inline-start:0px;"> <span class="pr-4">Size:  </span>   
                {% for item in product_size %}
                <li class="size_box mr-1" data-size="{{item}}">
                   {{item}}
                </li>
                {% endfor %}
                </ul>
                </h4>
                <h4>Số lượng:
                    <input type="button" value="−" onclick="javascript:void(0)" id="btn-quantity-sub">
                    <input type="number" id="id_quantity"  value="1" min="1" readonly style="width:40px;text-align: center;">
                    <input type="button" value="+" onclick="javascript:void(0)" id="btn-quantity-add">
                </h4>
                <p>
                    {{product.describe}}
                </p>
                <div class="product__details__cart__option">
                    <a  id="add_to_cart" class="btn btn-custom" data-product="{{product.id}}" ><span style="color:white;">Thêm vào giỏ hàng</span></a>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div id="alert_size" class="alert alert-danger alert-dismissible fade show row" role="alert" hidden >
                    <strong id="alert_mess">Bạn phải chọn size trước khi thêm sản phẩm vào giỏ hàng!</strong> 
                    <button type="button" class="close" id="hidden-size-alert">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
    </div>
</div>
{% endblock body_content %}
{% block extra-js %}
<script src="{% static 'store/js/product_detail.js'%}"></script>
{% endblock extra-js %}


   

