{% load shop_tags %}
{% load humanize %}
<div class="owl-3-slider owl-carousel">
    {% for item_sale in list_product_sale  %}
    <div class="item">
      <div class="product-item">
        <a href="shop-single.html" class="product-img">
          <div class="label sale top-right">
            <div class='content'>Sale</div>
          </div>
          <img src="{% get_img_product item_sale.id %}" alt="Image" class="img-fluid">
        </a>
        <h3 class="title"><a href="#">{{item_sale.name}}</a></h3>
        <div class="price">
          <del>{{item_sale.price|intcomma}}đ</del> &mdash; <span class="text-danger">{{item_sale.accurate_price|intcomma}}đ</span>
        </div>
      </div>
    </div> <!-- /.item -->
    {% endfor %}
  </div>