{% extends 'store/layout.html' %}
{% load shop_tags %}
{% load humanize %}
{% block body_content %}
<div class="page-heading">
  <div class="container">

    <div class="row align-items-end text-center">
      <div class="col-lg-7 mx-auto"> 
        <h1 style="color:#FFA726;">Giày chất</h1>  
        <p class="mb-4"><a href="{% url 'shoe_store:index' %}">Trang chủ</a> / <strong>Cửa hàng</strong></p>  
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show row mt-2 mb-2" role="alert">
            <strong>{{message}}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
        {% endif %}      
      </div>
    </div>
  </div>

<div class="untree_co-section pt-3">
  <div class="container">
    <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <h2 class"text-danger">Không có sản phẩm bạn đang tìm!</h2>
          </div>
        </form>
      </div>

    <div class="row">

      <div class="col-md-12">
        <div class="row">
          {% for item in page.object_list  %}
          <div class="col-6 col-sm-6 col-md-6 mb-3 col-lg-3">
            <div class="product-item">
              <a href="{% url 'shoe_store:product_detail' item.id %}" class="product-img">
                <div class="label new top-right">
                  <div class='content'>New</div>
                </div>
                {% if item.status == 'sale' %}
                  <div class="label sale top-right second">
                    <div class='content'>Sale</div>
                  </div>
                {% endif %}
               
                <img src="{% get_img_product item.id %}" alt="Image" class="img-fluid">
              </a>
              <h3 class="title"><a href="#">{{item.name}}</a></h3>
              <div class="price">
                {% if item.status == 'sale' %}
                <del>{{item.price|intcomma}}đ</del> &mdash; <span class="text-danger">{{item.accurate_price|intcomma}}đ</span>
                {% else %}
                <span>{{item.price|intcomma}}đ</span>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
          
            
        </div>

        <div class="row mt-5 pb-5">
          <div class="col-lg-12">
            <div class="custom-pagination">
              <ul class="list-unstyled">
                {% if page.has_previous %}
                <li>
                  <a href="/cua-hang/?page={{page.previous_page_number}}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M5.854 4.646a.5.5 0 0 1 0 .708L3.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
                      <path fill-rule="evenodd" d="M2.5 8a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>                      
                  </a>
                </li>
    
                <li ><a  href="/cua-hang/?page={{page.previous_page_number}}">{{page.previous_page_number}}</a></li>
                {% endif %}
                {% if page %}
                <li class="active"><a style="border-color: #206430;" href="#">{{page.number}}</a></li>
                {% endif %}
                {% if page.has_next %}
                <li ><a  href="/cua-hang/?page={{page.next_page_number}}">{{page.next_page_number}}</a></li>
                <li>
                  <a href="/cua-hang/?page={{page.next_page_number}}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
                      <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
                    </svg>
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div> <!-- /.untree_co-section -->

  <div class="untree_co-section">
    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-md-6">
          <h2 class="h3"><span class="text-danger">SALE</span></h2>        
        </div>
        <div class="col-sm-6 carousel-nav text-sm-right">
          <a href="#" class="prev js-custom-prev-v2">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
              <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
            </svg>
          </a>
          <a href="#" class="next js-custom-next-v2">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
              <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </a>
        </div>
      </div> <!-- /.heading -->
      {% render_sale_product %}
    </div> <!-- /.container -->
  </div> <!-- /.untree_co-section -->  
{% endblock body_content %}
{% block extra-js %}
<script>
  $('#shop_filter').find('select').change(function() {
    $('#shop_filter').submit()
  });
</script>
{% endblock %}
 

    